li .btn{
    float:right;

}

.centrado
{
	margin: 50px auto 0 auto;
    width: 90%;
}

#divTabla
{
	margin: 50px auto 0 auto;
    width: 90%;
}

#loginsection
{
	margin: 2% auto 0 auto;
    width: 60%;
}

#menucentral
{
	margin: 2% auto 0 auto;
    width: 80%;
}

#botonLogin
{
	background-color: #3276b1;
}