li .btn{
    float:right;

}

.centrado
{
	margin: 50px auto 0 auto;
    width: 90%;
}

#loginsection
{
	margin: 50px auto 0 auto;
    width: 50%;
}

#menucentral
{
	margin: 50px auto 0 auto;
    width: 50%;
}