<section id='divGeneral'>
    <form id='formFichaAseguradora' class='form'>
        <article class='form-group'>
            <label class='label label-default' for='idAseguradora'>idAseguradora:</label>
            <input id='idAseguradora' type='text' class='form-control' placeholder='idAseguradora' value= {{ IdAseguradora }}  >
            <label class='label label-default' for='nombre'>Nombre:</label>
            <input id='nombre' type='text' class='form-control' placeholder='Nombre' value= {{ Nombre }}  >
            <label class='label label-default' for='direccion'>Direccion:</label>
            <input id='direccion' type='text' class='form-control' placeholder='Direccion' value= {{ direccion }}>
            <label class='label label-default' for='telefono'>Telefono:</label>
            <input id='telefono' type='tel' class='form-control' placeholder='telefono' value= {{ telefono }}>
        </article>

        <button type='submit' class=' btn btn-default'>Editar</button>
    </form>
</section>