<section id='divGeneral'>
    <form id='formFichaTractora' class='form'>
        <article class='form-group'>

            <label class='label label-default' for='idTractora'>IdTractora:</label>
            <input id='idTractora' type='text' class='form-control' placeholder='idTractora' value= {{IdTractora}} >
            <label class='label label-default' for='matricula'>matricula:</label>
            <input id='matricula' type='text' class='form-control' placeholder='matricula' value= {{Matricula}} >
            <label class='label label-default' for='seguro'>seguro:</label>
            <input id='seguro' type='text' class='form-control' placeholder='seguro' value= {{seguro}} >
            <label class='label label-default' for='aseguradora'>aseguradora:</label>
            <input id='aseguradora' type='text' class='form-control' placeholder='aseguradora' value= {{aseguradora}} >

        </article>

        <button type='submit' class='btn btn-default'>Editar</button>
        <button id='modificarTractoraBtn' class='btn btn-default'>Modificar datos</button>
        <button id='mantenimientosTractoraBtn' class='btn btn-default'>Mantenimientos</button>
    </form>
</section>