<section id='divGeneral'>
    <form id='formFichaTaller' class='form'>
        <article class='form-group'>

            <label class='label label-default' for='idTaller'>idTaller:</label>
            <input id='idTaller' type='text' class='form-control' placeholder='idTaller' value= {{IdTaller}} >
            <label class='label label-default' for='nombre'>Nombre:</label>
            <input id='nombre' type='text' class='form-control' placeholder='Nombre' value= {{Nombre}} >
            <label class='label label-default' for='direccion'>Direccion:</label>
            <input id='direccion' type='text' class='form-control' placeholder='Direccion' value= {{Direccion}} >
            <label class='label label-default' for='telefono'>Telefono:</label>
            <input id='telefono' type='tel' class='form-control' placeholder='telefono' value= {{telefono }} >

        </article>

        <button type='submit' class='btn btn-default'>Editar</button>
    </form>
</section>