<section id='divGeneral'>
    <form id='formFichaTractora' class='form'>
        <article class='form-group'>

            <label class='label label-default' for='IdRemolque'>IdRemolque:</label>
            <input id='IdRemolque' type='text' class='form-control' placeholder='IdRemolque' value= {{IdRemolque}}  >
            <label class='label label-default' for='matricula'>Matricula:</label>
            <input id='matricula' type='text' class='form-control' placeholder='Matricula' value= {{Matricula}} >
            <label class='label label-default' for='seguro'>Seguro:</label>
            <input id='seguro' type='text' class='form-control' placeholder='Seguro' value= {{seguro}} >
            <label class='label label-default' for='aseguradora'>Aseguradora:</label>
            <input id='aseguradora' type='text' class='form-control' placeholder='Aseguradora' value= {{aseguradora}} >

        </article>

        <button type='submit' class='btn btn-default'>Editar</button></form></section>