<div id='loginsection' class='container'>
    <form class='form-signin' role='form'>
        <h2 class='form-signin-heading'>Entrar</h2>
        <input id='usuarioInput' type='text' class='form-control' placeholder='Usuario' required autofocus>
        <input id='passwordInput' type='password' class='form-control' placeholder='Password' required>
        <label class='checkbox'>
          <input id='checkboxLogin' type='checkbox' value='remember-me'> Recordarme
        </label>
        <button id='botonLogin' class='btn btn-lg btn-primary btn-block' type='submit'>Iniciar sesión</button>
    </form>
</div> <!-- /container -->