<section id='map' class='centrado'>
	<div id='map-canvas' class='centrado' style='width: 320px; height: 480px;'>
	</div>

	<div class='centrado'>
		<input id='address' type='textbox' value= {{Direccion}} >
	    <input type='button' value='Encode' onclick='APP.Map.codeAddress()'>
	</div>
</section>