<section>
	<ul id='menutractora' class='nav nav-tabs'>
    	<li id ='datosgenerales'> <a data-id='0' data-tractora= {{IdTractora}} href='#'>Datos Generales</a></li>
        <li id='financiacion'><a data-id='1' data-tractora= {{IdTractora}} href='#'>Financiación</a></li>
        <li id='mantenimientos-pestana'><a data-id='2' data-tractora= {{IdTractora}} href='#'>Mantenimientos</a></li>
    </ul>
</section>