<section id='menucentral'>
	<ul class='list-group'>
		<li id='tractoras' class='list-group-item'><a href='#'><h2>Tractoras</h2></a></li>
		<li id='remolques' class='list-group-item'><a href='#'><h2>Remolques</h2></li>
		<li id='talleres' class='list-group-item'><a href='#'><h2>Talleres</h2></li>
		<li id='aseguradoras' class='list-group-item'><a href='#'><h2>Aseguradoras</h2></li>
	</ul>
</section>