<section id='menucentral'>
	<ul class='list-group'>
		<li id='tractoras' class='list-group-item'><a href='#'>Tractoras</a></li>
		<li id='remolques' class='list-group-item'><a href='#'>Remolques</li>
		<li id='talleres' class='list-group-item'><a href='#'>Talleres</li>
		<li id='aseguradoras' class='list-group-item'><a href='#'>Aseguradoras</li>
	</ul>
</section>